@model Randomize.Models.Digits

<form method="post">
    <div class="mainTable">
        @if (@Model != null)
         {
            <div class="resultText">@Model.result</div>
        }
        else
        {
            <div class="resultText">0</div>
        }
        
        <div class="tableWithRange">
            <span asp-validation-for="numberOne" asp-validation-for="numberTwo" />
            <input type="number" placeholder="-10000" class="range" max="10000" min="-10000" asp-for="numberOne"/>
            <input type="number" placeholder="10000" class="range" max="10000" min="-10000" asp-for="numberTwo"/>
         </div>

         <input class="generateBut" type="submit" value="Generate" asp-action="Main"/>
        
    </div>

</form>



