@model Randomize.Models.Digits

<form method="post">
    <div class="mainTable">
        <div class="resultText">@Model.result</div>

        <input type="submit" value="Generate"/>
    </div>

</form>



