.mainTable {
    background-color: gainsboro;
    min-height: 450px;
    width: 80%;
    margin:auto;
    vertical-align: middle;
    border-radius: 10px;
}

.resultText {
    text-align:center;
    padding: 20px 0px 10px 0px;
    font-size: 120px;
}

.generateBut {
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
    margin-top: 100px;
    border-radius: 7px;
    background-color: seagreen;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tableWithRange {
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    place-items: center;
}

.range {
    margin: auto;
    height: 40px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    display: block;
}

input.number{
    font-size: 10px;
}

::placeholder {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
